body {
  background-color: #F1FFCC;
}

.inputContainer{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  display: flex;
  flex-direction: column;
}

/* Waiting for SVG */
.splash-logo {
  display: block;
  margin: 15vh auto 0 auto;
  width: 300px;
  min-width: 65vw;
}

#inputUsername{
  border: none;
  border-radius: 7px;
  background-color: #C7C0F4;
  margin: 10px;
  text-align: center;
  box-shadow: none;
  font-size: 20px;
  color: #383838
}

/* The auto fill changes the collor to white. So I changed the autofill color to the input field color */
#inputPassword:-webkit-autofill {
  box-shadow: 0 0 0 1000px #C7C0F4 inset !important;
  -webkit-box-shadow: 0 0 0 1000px #C7C0F4 inset !important;
  color: #383838;
  -webkit-text-fill-color: #383838;
}

#inputPassword{
  border: none;
  border-radius: 7px;
  margin: 10px;
  text-align: center;
  box-shadow: none;
  background-color: #C7C0F4;
  font-size: 20px;
  color: #383838;
}

#submitButton {
  margin-top: 25px;
  margin-left: 49px;
  padding-left: -20px;
  padding-right: -20px;
  width: 200px;
  background-color: #D6F091;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  color: #383838
}
