body {
    background-color: #F1FFCC;
}

.inputContainer{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  display: flex;
  flex-direction: column;
}

/* XXX We need an svg here. This image will cause screen sizing issues */
/* ^^^This comment is invalid. 
  SVG would be nice, but the sizing issues came from another source. 
  Setting both a constant width and constant height on an image
  forces it to resize to that without maintaining its aspect ratio.
  Commenting out `height: 400px` fixes the issue.
*/
.header {
  padding-top: 20px;
  /* height: 400px; */
  width: 400px;
}

#inputUsername{
  border: none;
  border-radius: 7px;
  background-color: #C7C0F4;
  margin: 10px;
  text-align: center;
  box-shadow: none;
  font-size: 20px;
  color: #383838
}

/* The auto fill changes the collor to white. So I changed the autofill color to the input field color */
#inputUsername:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #C7C0F4 inset !important;
}



#inputPassword{
  -webkit-text-fill-color: #C7C0F4 !important;
  border: none;
  border-radius: 7px;
  margin: 10px;
  text-align: center;
  box-shadow: none;
  background-color: #C7C0F4;
  font-size: 20px;
}
/* The auto fill changes the collor to white. So I changed the autofill color to the input field color */
#inputPassword:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #C7C0F4 inset !important;
}

#submitButton {
  margin-top: 25px;
  margin-left: 49px;
  padding-left: -20px;
  padding-right: -20px;
  width: 200px;
  background-color: #D6F091;
  border: none;
  border-radius: 7px;
  font-size: 20px;
}
