// COLORS
$login_background: #E0FEFA;
$register_background:#F1FFCC;
$font-color:#707070;
$purple:#C7C0F4;
$green:#F1FFCC;
$blue:#E0FEFA;

// MIXINS
@mixin centerFlex {
  display: flex;
  align-items:center;
  justify-content: center;
}

.login__container {
  height:100vh;
  background-color: $login_background;
}

// .register__container {

// }

.login__input_container{
  @include centerFlex();
  flex-direction: column;
}


.login__input {
  height:50px;
  width:270px;
  border:none;
  margin:10px;
  border-radius: 7px;
  background-color:$purple;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color:$font-color;
}


/* Waiting for SVG */
.splash-logo {
  display: block;
  margin: 15vh auto 0 auto;
  width: 300px;
  min-width: 65vw;
}


/* The auto fill changes the collor to white. So I changed the autofill color to the input field color */
// #inputPassword:-webkit-autofill {
//   box-shadow: 0 0 0 1000px #C7C0F4 inset !important;
//   -webkit-box-shadow: 0 0 0 1000px #C7C0F4 inset !important;
//   color: #383838;
//   -webkit-text-fill-color: #383838;
// }

// BUTTON STYLES
.login__button {

}

// .register__button {

// }

#submitButton {
  margin-top: 25px;
  margin-left: 49px;
  padding-left: -20px;
  padding-right: -20px;
  width: 200px;
  background-color: #D6F091;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  color: #383838
}
